{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <style>
	  
  </style>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--  title  -->
    {% block title%}{% endblock %}
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link href="https://kit-pro.fontawesome.com/releases/v5.10.2/css/pro.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="style.css"> -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <nav class="nav">
    <div class="burger">
      <div class="burger__patty"></div>
    </div>
  
    <ul class="nav__list">
      <li class="nav__item">
        <a href="#home" class="nav__link c-black"><i class="fas fa-home" style="color: white"></i></i></a>
      </li>
      <li class="nav__item">
        <a href="#profile" class="nav__link c-yellow scrolly"><i class="fas fa-address-book" style="color: blue"></i></a>
      </li>
      <li class="nav__item">
        <a href="#experiences" class="nav__link c-#182C61 scrolly"><i class="fas fa-hourglass-end" style="color: white;"></i></a>
      </li>
      
      <li class="nav__item">
        <a href="#contact" class="nav__link c-yellow scrolly"><i class="fas fa-address-book" style="color: blue"></i></a>
      </li>
    </ul>
  </nav>
  {% block body %}
  {% endblock %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://files.catbox.moe/fgxpdb.js"></script>
</body>
</html>
