{% extends 'base.html' %}
{% load static %}
{% block title%}
<title>Contact</title>
{% endblock %}


{% block body %}
<div class="fourth-frame" id="contact">
  <h1 class="typename" style="font-size: 2.2vw; color: blue">Contact</h1>
  <div class="rectangle5">
    <form class="pure-form pure-form-aligned">
      <fieldset>
        <div class="pure-control-group">
          <label for="name">Name</label>
          <input id="name" type="text" placeholder="Name">
        </div>

        <div class="pure-control-group">
          <label for="email">Email Address</label>
          <input id="email" type="email" placeholder="Email Address">
        </div>

        <div class="pure-control-group">
          <label for="foo">Messages</label>
          <textarea  placeholder="Say something here ..." rows="20vh" cols="100vw" style="max-width: 90%"></textarea>
        </div>

        <div class="pure-controls pure-u-md-1-3">
          <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>

{% endblock %}