{% extends 'base.html' %}
{% load static %}
{% block title%}
<title>Experiences</title>
{% endblock %}


{% block body %}
<div class="third-frame" id="experiences">
  <h1 class="typename" style="font-size: 2.2vw; color: blue; position: absolute;">Experiences</h1>
  <div class="rectangle3">
    <div class="garis"></div>

    <h2 style="position: absolute; left: 31.4vw; color: #456990;">Education</h2>

    <img src="{% static 'images/sekolah-icon.png' %}" alt="sekolah-icon" style="width: 3vw; height: 3vw; position: absolute; left: 33.5vw; top: 18.5vh">
    <p style="font-size: 1.2vw; position:absolute; right: 46vw; top: 18.5vh;"><b>Bachelor's Degree</b></p>
    <p style="font-size: 1.2vw; position:absolute; right: 46vw; top: 23vh;">(2018 - Present)</p>
    <p style="font-size: 1.2vw; position:absolute; left: 46vw; top: 18.5vh;"><b>Universitas Indonesia</b></p>

    
    <img src="{% static 'images/sekolah-icon.png' %}" alt="sekolah-icon" style="width: 3vw; height: 3vw; position: absolute; left: 33.5vw; top: 33.5vh">
    <p style="font-size: 1.2vw; position:absolute; right: 46vw; top: 33.5vh;"><b>High School Diploma</b></p>
    <p style="font-size: 1.2vw; position:absolute; right: 46vw; top: 38vh;">(2015 - 2018)</p>
    <p style="font-size: 1.2vw; position:absolute; left: 46vw; top: 33.5vh;"><b>SMA Taruna Nusantara</b></p>

    
    <img src="{% static 'images/sekolah-icon.png' %}" alt="sekolah-icon" style="width: 3vw; height: 3vw; position: absolute; left: 33.5vw; top: 48.5vh">
    <p style="font-size: 1.2vw; position:absolute; right: 46vw; top: 48.5vh;"><b>Junior High School Diploma</b></p>
    <p style="font-size: 1.2vw; position:absolute; right: 46vw; top: 53vh;">(2012 - 2015)</p>
    <p style="font-size: 1.2vw; position:absolute; left: 46vw; top: 48.5vh;"><b>SMPN 1 Magelang</b></p>
  </div>
  <div class="rectangle4">
    <h2 style="position: absolute; left: 30.2vw; color: #456990;">Achievements</h2>
  </div>
</div>

{% endblock %}