{% extends 'base.html' %}
{% load static %}
{% block title%}
<title>Yoga Pratama</title>
{% endblock %}


{% block body %}
<div class="first-frame" style="background-image: url({% static 'images/background1.jpg' %})" id="home">
  <h1 class="hello" style="font-size: 4vw">Hi!<br>I'm Yoga</h1>
</div>
<div class="second-frame" id="profile">
  <h1 class="typename" style="font-size: 2.2vw">
    Profile
  </h1>
  <img src="{% static 'images/foto.png' %}" alt="Foto" class="foto-style">
  <h3 class="nama1">
    Ahmad Haulian
  </h3>
  <h3 class="nama2">
    Yoga Pratama
  </h3>
  <div class="rectangle1">
    <h2 style="position: absolute; left: 3vw; color:blue; font-size: 2.2vw">
      Hello, my name is Ahmad Haulian Yoga Pratama
    </h2>
    <p style="position: absolute; left: 3vw; top: 10vh; font-size: 2vw">
      I am a student of computer science with experience in Competitive 
      Programming and having interests in Artificial Intelligent.
    </p>
  </div>
  <div class="rectangle2">
    <h2 style="position: absolute; left: 3vw; color:blue; font-size: 2.2vw">
      Personal Information
    </h2>
    <p style="position: absolute; left: 3vw; top: 8vh; font-size: 2vw">
        Name
    </p>
    <p style="position: absolute; left: 3vw; top: 16vh; font-size: 2vw">
        Date of Birth
    </p>
    <p style="position: absolute; left: 3vw; top: 24vh; font-size: 2vw">
        Email
    </p>
    <p style="position: absolute; left: 20vw; top: 8vh; font-size: 2vw">
        Ahmad Haulian Yoga Pratama
    </p>
    <p style="position: absolute; left: 20vw; top: 16vh; font-size: 2vw">
        April 21, 2000
    </p>
    <p style="position: absolute; left: 20vw; top: 24vh; font-size: 2vw">
        pratamay735@gmail.com
    </p>
  </div>
</div>
<div class="third-frame" id="experiences">
  <h1 class="typename" style="font-size: 2.2vw; color: blue">Experiences</h1>
  <div class="rectangle3">
    <div class="garis"></div>

    <h2 style="position: absolute; left: 31.4vw; color: #456990;">Education</h2>

    <img src="{% static 'images/sekolah-icon.png' %}" alt="sekolah-icon" style="width: 3vw; height: 3vw; position: absolute; left: 33.5vw; top: 18.5vh">
    <p style="font-size: 1.2vw; position:absolute; right: 46vw; top: 18.5vh;"><b>Bachelor's Degree</b></p>
    <p style="font-size: 1.2vw; position:absolute; right: 46vw; top: 23vh;">(2018 - Present)</p>
    <p style="font-size: 1.2vw; position:absolute; left: 46vw; top: 18.5vh;"><b>Universitas Indonesia</b></p>

    
    <img src="{% static 'images/sekolah-icon.png' %}" alt="sekolah-icon" style="width: 3vw; height: 3vw; position: absolute; left: 33.5vw; top: 33.5vh">
    <p style="font-size: 1.2vw; position:absolute; right: 46vw; top: 33.5vh;"><b>High School Diploma</b></p>
    <p style="font-size: 1.2vw; position:absolute; right: 46vw; top: 38vh;">(2015 - 2018)</p>
    <p style="font-size: 1.2vw; position:absolute; left: 46vw; top: 33.5vh;"><b>SMA Taruna Nusantara</b></p>

    
    <img src="{% static 'images/sekolah-icon.png' %}" alt="sekolah-icon" style="width: 3vw; height: 3vw; position: absolute; left: 33.5vw; top: 48.5vh">
    <p style="font-size: 1.2vw; position:absolute; right: 46vw; top: 48.5vh;"><b>Junior High School Diploma</b></p>
    <p style="font-size: 1.2vw; position:absolute; right: 46vw; top: 53vh;">(2012 - 2015)</p>
    <p style="font-size: 1.2vw; position:absolute; left: 46vw; top: 48.5vh;"><b>SMPN 1 Magelang</b></p>
  </div>
  <div class="rectangle4">
    <h2 style="position: absolute; left: 30.2vw; color: #456990;">Achievements</h2>
  </div>
</div>
<div class="fourth-frame" id="contact">
  <h1 class="typename" style="font-size: 2.2vw; color: blue">Contact</h1>
  <div class="rectangle5">
    <form class="pure-form pure-form-aligned">
      <fieldset>
        <div class="pure-control-group">
          <label for="name">Name</label>
          <input id="name" type="text" placeholder="Name">
        </div>

        <div class="pure-control-group">
          <label for="email">Email Address</label>
          <input id="email" type="email" placeholder="Email Address">
        </div>

        <div class="pure-control-group">
          <label for="foo">Messages</label>
          <textarea  placeholder="Say something here ..." rows="20vh" cols="100vw" style="max-width: 90%"></textarea>
        </div>

        <div class="pure-controls pure-u-md-1-3">
          <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>

{% endblock %}