{% extends 'base.html' %}
{% load static %}
{% block title%}
<title>Profile</title>
{% endblock %}


{% block body %}
<div class="second-frame" id="profile">
  <h1 class="typename" style="font-size: 2.2vw">
    Profile
  </h1>
  <img src="{% static 'images/foto.png' %}" alt="Foto" class="foto-style">
  <h3 class="nama1">
    Ahmad Haulian
  </h3>
  <h3 class="nama2">
    Yoga Pratama
  </h3>
  <div class="rectangle1">
    <h2 style="position: absolute; left: 3vw; color:blue; font-size: 2.2vw">
      Hello, my name is Ahmad Haulian Yoga Pratama
    </h2>
    <p style="position: absolute; left: 3vw; top: 10vh; font-size: 2vw">
      I am a student of computer science with experience in Competitive 
      Programming and having interests in Artificial Intelligent.
    </p>
  </div>
  <div class="rectangle2">
    <h2 style="position: absolute; left: 3vw; color:blue; font-size: 2.2vw">
      Personal Information
    </h2>
    <p style="position: absolute; left: 3vw; top: 8vh; font-size: 2vw">
        Name
    </p>
    <p style="position: absolute; left: 3vw; top: 16vh; font-size: 2vw">
        Date of Birth
    </p>
    <p style="position: absolute; left: 3vw; top: 24vh; font-size: 2vw">
        Email
    </p>
    <p style="position: absolute; left: 20vw; top: 8vh; font-size: 2vw">
        Ahmad Haulian Yoga Pratama
    </p>
    <p style="position: absolute; left: 20vw; top: 16vh; font-size: 2vw">
        April 21, 2000
    </p>
    <p style="position: absolute; left: 20vw; top: 24vh; font-size: 2vw">
        pratamay735@gmail.com
    </p>
  </div>
</div>

{% endblock %}