{% extends 'base.html' %}
{% load static %}
{% block title%}
<title>Yoga Pratama</title>
{% endblock %}


{% block body %}
<div class="first-frame" style="background-image: url({% static 'images/background1.jpg' %})" id="home">
  <h1 class="hello" style="font-size: 4vw">Hi!<br>I'm Yoga</h1>
</div>
{% endblock %}