{% load static %}
.first-frame{
    display: inline-block;
      width: 100vw;
      height: 100vh;
      background-size: fill;
  }
  
  .second-frame{
    display: inline-block;
    background-color: #e3e3e3;
      width: 100vw;
      height: 100vh;
      background-size: auto;
  }
  
  .hello{
      display: inline-block;
      width: 402px;
      height: 187px;
      left: 146px;
      top: 218px;
      font-family: 'Times New Roman', Times, serif;
      font-style: normal;
      font-weight: normal;
      font-size: 65px;
      line-height: 111px;
      color: #4BC8D9;	
      position: absolute;
  }
  
  
  body{
    background-color: #e3e3e3;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden; 
  }
  
  
  * {
    box-sizing: border-box;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .nav {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 8.5vw;
    backface-visibility: hidden;
  }
  .nav__list {
    display: flex;
    flex-flow: column wrap;
    height: 85vh;
    transform: translate(0, -100%);
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .nav__list--active {
    transform: translate(0, 0);
  }
  .nav__item {
    flex: 1;
    position: relative;
  }
  .nav__link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 8.5vw;
    top: 0;
    left: 90vw;
    text-decoration: none;
    font-size: 24px;
    background: #2b3033;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .nav__link:hover {
    background: #272b2e;
  }
  
  @media (max-width: 640px) {
    .nav {
      width: 8.5vw;
    }
    .nav__list {
      height: 90vh;
    }
  }
  
  .burger{
    height: 15vh;
    left: 90vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background: #2b3033;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .burger:hover {
    background: #272b2e;
  }
  
  .burger__patty {
    position: relative;
    height: 2px;
    width: 3vw;
    background: white;
  }
  .burger__patty:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    height: 2px;
    width: 3vw;
    background: white;
  }
  .burger__patty:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    height: 2px;
    width: 3vw;
    background: white;
  }
  .burger__patty, .burger__patty:before, .burger__patty:after {
    will-change: transform;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .burger--active .burger__patty {
    transform: rotate(90deg);
  }
  .burger--active .burger__patty:before {
    transform: rotate(-45deg) translate(-7px, -7px) scaleX(0.7);
  }
  .burger--active .burger__patty:after {
    transform: rotate(45deg) translate(-7px, 7px) scaleX(0.7);
  }
  @media (max-width: 640px) {
    .burger {
      height: 10vh;
    }
    .burger__patty {
      transform: scale(0.8);
    }
    .burger--active .burger__patty {
      transform: scale(0.8) rotate(90deg);
    }
  }
  
  .foto-style{
    position: relative;
    width: 15vw;
    height: 30vh;
    left: 10vw;
    top: 2vw;
  
  }
  
  .typename{
    color: #456990;
    left: 5vw;
    top: 5vh;
    position: relative;
  }
  
  .nama1{
    position: relative;
    left: 10vw;
    top: 2vh;
    font-size: 2vw;
  }
  
  .nama2{
    position: relative;
    left: 10.5vw;
    top: 0vh;
    font-size: 2vw;
  }
  
  .rectangle1{
    border-radius: 30px;
    position: relative;
    top: -50vh;
    left: 30vw;
    width: 60vw;
    height: 40vh;
    background: #ffffff;
  }
  
  .rectangle2{
    border-radius: 30px;
    position: relative;
    top: -49vh;
    left: 30vw;
    width: 60vw;
    height: 40vh;
    background: #ffffff;
  }
  
  .third-frame{
    position: relative;
    display: inline-block;
    background-size: auto;
    width: 100vw;
    height: 170vh;
    background-color: #ffffff;
  }
  
  .rectangle3{
    position: absolute;
    border-radius: 60px;
    top: 25vh;
    left: 15vw;
    width: 70vw;
    height: 80vh;
    background: #e3e3e3;
  }
  
  .garis{
    position: absolute;
    top: 10vh;
    left: 34.8vw;
    width: 0.4vw;
    height: 60vh;
    background-color: black;
  }
  
  .rectangle4{
    border-radius: 60px;
    position: absolute;
    top: 115vh;
    left: 15vw;
    width: 70vw;
    height: 40vh;
    background: #e3e3e3;
  }
  
  .fourth-frame{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #3c3c3c;
    vertical-align: top;
    display: inline-block;
  }
  
  .rectangle5{
    border-radius: 20px;
    position: absolute;
    top: 25vh;
    left: 15vw;
    width: 70vw;
    height: 60vh;
    background: #e3e3e3;
  }
  
  .name{
    border-radius: 5px;
    position: absolute;
    top: 10vh;
    left: 4vw;
    width: 27vw;
    height: 5vh;
    background: #ffffff;
  }
  
  .email{
    border-radius: 5px;
    position: absolute;
    top: 10vh;
    left: 39vw;
    width: 27vw;
    height: 5vh;
    background: #ffffff;
  }
  
  .message{
    border-radius: 5px;
    position: absolute;
    top: 25vh;
    left: 4vw;
    width: 62vw;
    height: 30vh;
    background: #ffffff;
  }
  